/*
ars technica
*/
.ad_wrapper, .ad_crown, .inline-playlist,
.xrail {
	visibility: hidden !important;
	display: none !important;
}

.left-column {
	margin: 0 auto !important;
}

/*
slickdeals
*/

.announcementBar, .frontpageGrid__bannerAd, .ad, .variableWidthAd, .variableHeightAd, #sideColumn, .slickdealsHeader__disclaimer, .slickdealsHeaderSubNav, .dealAlertsForYou {
	visibility: hidden !important;
	display: none !important;
}

#mainColumn {
	margin: 0 auto !important;
}

/*
fandom
*/
.top-ads-container, .bottom-ads-container, .global-navigation, .notifications-placeholder, #WikiaBar {
	visibility: hidden !important;
	display: none !important;
}

.main-container {
	margin: 0 !important;
}

/*
ksl
*/
.ksl-unclear,
.gamecenterHomepageContainer,
.newsSignup,
.paid_ad_queue_story,
.paid_ad_queue_break,
.queue:has(h3.sponsored),
[class^="InformationBubble__PointerBox"] {
	visibility: hidden !important;
	display: none !important;
}

/*
zelda dungeon
*/
.primisslate {
	visibility: hidden !important;
	display: none !important;
}

/*
reddit
*/
shreddit-comments-page-ad {
	visibility: hidden !important;
	display: none !important;
}

/*
mozilla ads
*/
.top-banner:has(section.place.top.container) {
	visibility: hidden !important;
	display: none !important;
}

/*
washington post
*/
#leaderboard-wrapper, [id*="softwall"], .hide-for-print, .outbrain-wrapper {
	visibility: hidden !important;
	display: none !important;
}

/*
medium
*/
div.bw.tz.ua.bg.xo {
	visibility: hidden !important;
	display: none !important;
}
