p {
	text-wrap: pretty !important;
}

/*
churchofjesuschrist.org
*/
html:has(head link[rel="canonical"][href*="churchofjesuschrist.org"]) feed-back {
	visibility: hidden !important;
	display: none !important;
}

/*
pixel art - https://dialup.cafe/@vga256/113586923855577734
*/
body > img:only-of-type, .mw-mmv-image img {
	image-rendering: crisp-edges !important;
}

/*
ars technica
*/
.ad_wrapper, .ad_crown, .inline-playlist,
.xrail {
	visibility: hidden !important;
	display: none !important;
}

.left-column {
	margin: 0 auto !important;
}

html:has(head link[rel="canonical"][href*="arstechnica.com"]) .ad-wrapper,
html:has(head link[rel="canonical"][href*="arstechnica.com"]) header,
html:has(head link[rel="canonical"][href*="arstechnica.com"]) .ars-interlude-container {
  display: none !important;
  visibility: hidden !important;
}

/*
slickdeals
*/

.announcementBar, .frontpageGrid__bannerAd, .ad, .variableWidthAd, .variableHeightAd, #sideColumn, .slickdealsHeader__disclaimer, .slickdealsHeaderSubNav, .dealAlertsForYou, .omegaBanner, #omegaBanner {
	visibility: hidden !important;
	display: none !important;
}

#mainColumn {
	margin: 0 auto !important;
}

.slickdealsHeader__dropdown {
	animation: none !important;
	transform-origin: none !important;
}

li.frontpageGrid__feedItem:has(span.dealCardBadge--promoted) {
	visibility: hidden !important;
	display: none !important;
}

/*
fandom
*/
.top-ads-container, .bottom-ads-container, .global-navigation, .notifications-placeholder, #WikiaBar, #featured-video__player-container {
	visibility: hidden !important;
	display: none !important;
}

.main-container {
	margin: 0 !important;
}

/*
ksl
*/
.ksl-unclear,
.gamecenterHomepageContainer,
.newsSignup,
.paid_ad_queue_story,
.paid_ad_queue_break,
.queue:has(h3.sponsored),
.LiveNow,
[class^="InformationBubble__PointerBox"] {
	visibility: hidden !important;
	display: none !important;
}
html:has(head meta[property="og:url"][content*="www.ksl.com"]) .right a[onclick="sendBtgToGA()"]{
  display: none !important;
  visibility: hidden !important;
}

/*
zelda dungeon
*/
.primisslate {
	visibility: hidden !important;
	display: none !important;
}

/*
reddit
*/
shreddit-comments-page-ad, [bundlename="sidebar_ad"] {
	visibility: hidden !important;
	display: none !important;
}

/*
mozilla ads
*/
html:has(head link[rel="canonical"][href*="developer.mozilla.org"]) section.place.side.new-side,
html:has(head link[rel="canonical"][href*="developer.mozilla.org"]) .bottom-banner-container,
html:has(head link[rel="canonical"][href*="developer.mozilla.org"]) #nav-footer {
	visibility: hidden !important;
	display: none !important;
}

.top-banner:has(section.place.top.container) {
	visibility: hidden !important;
	display: none !important;
}

/*
washington post
*/
#leaderboard-wrapper, [id*="softwall"], .hide-for-print, .outbrain-wrapper {
	visibility: hidden !important;
	display: none !important;
}

/*
medium
*/
div[style]:has(button[data-testid="close-button"]) {
	visibility: hidden !important;
	display: none !important;
}

/*
church of jesus christ
*/
#okta-login-container {
	margin: 0 auto !important;
	align-content: center !important
}

/*
fedex
*/
trk-shared-shop-runner-app-banner, #nuanMessagingFrame, trk-shared-fdm-banner {
	visibility: hidden !important;
	display: none !important;
}

/*
imdb
*/
*[aria-label="Sponsored Content"], #provider_promotion_responsive_wrapper, *[data-testid="hero-media__slate"], *[data-test-id="right-rail-content-block"] {
    visibility: hidden !important;
    display: none !important;
}

/*
admiral ad block annoyer
*/
body > div:has(img[src*="getadmiral.com"]) {
    visibility: hidden !important;
    display: none !important;
}

/*
slashgear
*/
html:has(head meta[property="og:site_name"][content="SlashGear"]) {
    overflow: initial !important;

/*  nested selectors not working in Safari 17.4.1  */
    /*> body {
        overflow: initial !important;
    }*/
}

html:has(head meta[property="og:site_name"][content="SlashGear"]) > body {
    overflow: initial !important;
}

.sticky-ad-container, div.holder .under-art, div.holder .nextup-heading, html:has(head meta[property="og:site_name"][content="SlashGear"]) > article:nth-child(n+2) {
    visibility: hidden !important;
    display: none !important;
}

/*
st george news (the worst website)
*/
#email_popup {
	display: none !important;
	visibility: hidden !important;
}

/*
iptorrents
*/
#iptStart > #Head + #body > tbody > tr > td > .tmS,
#iptStart > #Head + #body > tbody > tr > td > .tog,
#iptStart > #Head > .butRow {
    visibility: hidden !important;
    display: none !important;
}
